.red{
    color: red;
    }
.orange{
    color: orange;
}
.yell{
    color: yellow;
}
.green{
    color: green;
}
.blue
{
    color: blue;
}
.aqua
{
    color: aqua;
}
.purple
{
    color: purple;
}

