*{
	padding: 0;
	margin: 0;
    border: 0;
    font-family: 'Josefin Sans';
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-image: url(img/back.png);
	background-repeat: no-repeat;
    background-position: center;
    
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-------------------- .header>.logo+.icons+.navlinks^.blog>.blogtext{BLOG}+.buttons>ul>li*2^^^.imgblock+.alltext>.bigtext+.text+.btnnews^.othnews+.gallery>.leftimg+.rightimg^.aftergal>.righttext>.dates+.describe>.bigtext+.smalltext^^.lefttext>.dates+.describe>.bigtext+.smalltext^^^.footer>.leftlogo+ul>li*4*/
h1
{
  width:1170px;
  margin:35px auto 35px auto;
  font-family: Proxima Nova;
  font-size: 36px;
  text-align: center;
}
.wrap
{
  display:flex;
  width: 1194px;
  justify-content:space-around;
}
.box
{
  width:270px;
  height: 415px;
  position:relative;
  
}
.box h2
{
    padding: 13px 0px 0px 14px;
    letter-spacing: 1px;
    margin: 0px;
    font-family: 'Proxima Nova',serif;
    font-size: 18px;
}


.descrb
{
  border-top:1px solid red;
  border-bottom:1px solid red;
  padding: 23px 0px 0px 0px;
}
.size
{
  display:flex;
  
  
}

.type
{
  display:flex;  
 
}
.qnt
{
  display:flex; 
 
}

.left
{
  
  width:50%;
  font-family: Proxima Nova;
  font-size: 16px;
  color: #626262;
  padding: 0px 0px 14px 13px;
  letter-spacing: 1px;


}
.right
{
  
  width:50%;
  text-align:right;
  padding-right:19px;  
  font-family: Proxima Nova;
  font-size: 16px;
}
.add
{
  font-family: Proxima Nova;
  font-size: 18px;
  color: #F35D51;
  text-align: center;
  padding: 10px 0px 0px 0px;
  letter-spacing: 1px;
}
.add a
{
  text-decoration:none;
  color: #F35D51;
}

.buy
{
  width: 210px;
  height: 40px;
  background: #313A59;
  color:white;
  line-height:35px;
  text-align:center;
  position:absolute;
  bottom:-1px;
  left:30px;
}
.buy a
{
  text-decoration:none;
  color:white;
  letter-spacing: 2px;
  line-height: 41px;
}

.buy:hover
{
  background: #F35D51;
}
.buy:hover+.stripe
{
  background: #F35D51;
}

.box:hover 
{
  box-shadow: 0px 0px 70px -9px rgba(0,0,0,0.75);
}

.stripe
{
  background: #313A59;
  height:5px;
  margin:47px 0px 0px 0px;
}
