*{
	padding: 0;
	margin: 0;
    border: 0;
    font-family: 'Josefin Sans';
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	
    
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-------------------- */

.all
{
	
	height: 1800px;
	margin: 0 auto;
	
}
img
{
	width: 100%;
}

h2{
	font-family: 'Raleway',serif !important;	
	font-weight: bold !important;
	font-size: 18px !important;	
	text-align: center !important;
	text-transform: uppercase !important;
	color: #158483 !important;
	padding: 90px 0px 0px 0px;
}

p{
	font-family: 'Raleway',serif !important;
	font-size: 16px !important;
	line-height: 30px !important;
	text-align: justify !important;
	width: 408px !important;
	padding-bottom: 10px !important;
	margin:0px auto;	
	max-height: 600px !important;
}


.imgjack
{
	position: relative;
	
}
.imgjack:hover .popup1
{
	display: block;	
}

.imgalba:hover .popup2
{
	display: block;	
}

.imgleft:hover .popup3
{
	display: block;	
}

.imgright:hover .popup4
{
	display: block;	
}

.popup1
{
	background-color: rgba(21, 132, 131, 0.8);
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Raleway',serif;
	font-style: normal;
	font-weight: 800;
	font-size: 68px;
	line-height: 522px;
	color: white;	
	position: absolute;
	top:0px;
	left:0px;
	display: none;	
}
.popup2
{
	background-color: rgba(21, 132, 131, 0.8);
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Raleway',serif;
	font-style: normal;
	font-weight: 800;
	font-size: 68px;
	line-height: 522px;
	color: white;	
	position: absolute;
	top:0px;
	right:0px;
	display: none;	
}


.popup3
{
	background-color: rgba(21, 132, 131, 0.8);
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Raleway',serif;
	font-style: normal;
	font-weight: 800;
	font-size: 68px;
	line-height: 522px;
	color: white;	
	position: absolute;
	top:0px;
	right:0px;
	display: none;	
}

.popup4
{
	background-color: rgba(21, 132, 131, 0.8);
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Raleway',serif;
	font-style: normal;
	font-weight: 800;
	font-size: 68px;
	line-height: 522px;
	color: white;	
	position: absolute;
	top:0px;
	right:0px;
	display: none;	
}


